<div class="container mt-2"><h1>Restaurants in the neighborhood</h1>

<h2><%= @restaurant.name %></h2>
<p class="font-weight-bold">Address: </p><p><%= @restaurant.address %></p>
<p class="font-weight-bold">Phone number: </p><p><%= @restaurant.phone_number %></p>
<p class="font-weight-bold">Category: </p><p><%= @restaurant.category.capitalize %></p>

<div class="container">
<%= render "review_form", review: @review %>
</div>



<div class="container">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
</div>


<%= link_to 'Back', restaurants_path, class: "btn btn-primary" %> |

</div>
